# Preparation

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy as sa

In [ ]:
travel_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require"

In [ ]:
engine = sa.create_engine(travel_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")
inspector=sa.inspect(engine)

In [ ]:
table_names=inspector.get_table_names()
table_names

['users', 'hotels', 'flights', 'sessions']

![w=3840,quality=90,fit=scale-down.avif]()

In [ ]:

# Question #1:
# return users who have booked and completed at least 10 flights, ordered by user_id.

query = """
SELECT u.user_id, COUNT(DISTINCT f.trip_id)
FROM users u
LEFT JOIN sessions s ON u.user_id = s.user_id
LEFT JOIN flights f ON s.trip_id = f.trip_id
WHERE s.trip_id IS NOT NULL AND s.flight_booked = True AND s.cancellation = False
GROUP BY u.user_id
HAVING COUNT(DISTINCT f.trip_id) >= 10
ORDER BY user_id;

"""

# Load data into a pandas DataFrame
df = pd.read_sql_query(query, connection)
df

    user_id  count
0       807     10
1      1469     10
2      2801     10
3      2958     10
4      3529     10
5      3922     10
6      7030     10
7      7709     10
8      9099     10
9     12684     10
10    13076     10
11    14358     10
12    17803     10
13    20966     10
14    23752     10
15    24861     10
16    25471     10
17    25588     10
18    26048     11
19    26515     10
20    26720     10
21    27976     10
22    28930     10
23    29241     11
24    30028     10
25    37146     10
26    38740     10
27    40616     10
28    44403     10
29    49389     10
30    50009     11
31    50656     10
32    54318     11
33    54407     10
34    55903     10
35    63407     10
36    69600     10
37    79643     10
38    90527     10
39   100812     10
40   107874     10
41   111515     10
42   144345     11
43   146103     10
44   170016     10
45   170995     10
46   208653     10

In [ ]:
# -- Question #1:
# -- return users who have booked and completed at least 10 flights, ordered by user_id.

# -- Expected column names: user_id

query = """

SELECT user_id

FROM sessions

WHERE trip_id IS NOT NULL AND cancellation = False AND flight_booked=True
GROUP BY user_id
HAVING
COUNT(flight_booked)>=10
-- AND
-- COUNT(cancellation)>=10
ORDER BY user_id
"""

# Load data into a pandas DataFrame
df = pd.read_sql_query(query, connection)
df

    user_id
0       807
1      1469
2      2801
3      2958
4      3529
5      3922
6      7030
7      7709
8      9099
9     12684
10    13076
11    14358
12    17803
13    20966
14    23752
15    24861
16    25471
17    25588
18    26048
19    26515
20    26720
21    27976
22    28930
23    29241
24    30028
25    37146
26    38740
27    40616
28    44403
29    49389
30    50009
31    50656
32    54318
33    54407
34    55903
35    63407
36    69600
37    79643
38    90527
39   100812
40   107874
41   111515
42   144345
43   146103
44   170016
45   170995
46   208653

In [ ]:
# Question #2:
# Write a solution to report the trip_id of sessions where:

# session resulted in a booked flight
# booking occurred in May, 2022
# booking has the maximum flight discount on that respective day.

# If in one day there are multiple such transactions, return all of them.

# Expected column names: trip_id

query = """

WITH ranking AS (select distinct trip_id,  session_end,
RANK() OVER(PARTITION BY date(session_end) ORDER BY flight_discount_amount DESC) AS rank
FROM sessions
WHERE Extract(year from session_end)=2022
        and
       extract (month from session_end)=05
       and flight_booked=True and flight_discount_amount is not null and flight_discount=True AND trip_id IS NOT NULL
       order by 3
)

SELECT *

from ranking
WHERE rank=1


"""

# Load data into a pandas DataFrame
pd.read_sql_query(query, connection)

                                    trip_id         session_end  rank
0   104950-da87f00ad82e42daad637a5b051889d5 2022-05-04 21:58:16     1
1   114730-235d3462322849e69deba01dffca0da8 2022-05-27 22:06:17     1
2   136816-8888ddd0b7fc431b863adfeeea797ff1 2022-05-11 14:45:59     1
3   147755-b7e4fe20c89c40f7b2a97691e79125dc 2022-05-30 20:30:49     1
4   149287-f5acc652abde4e169575b7c861456b3a 2022-05-06 21:45:44     1
5   149596-d6cffb91d44343a799f4d0a057063e5e 2022-05-18 08:24:11     1
6   151667-5daa0f8fa4db46e88113d02c9619d671 2022-05-16 20:30:20     1
7   153469-39fa63162fb4472ab6cac489abebf86a 2022-05-10 01:32:30     1
8   155115-b90f704784fe4f95ba1dd5f672289ad0 2022-05-08 19:19:20     1
9   161954-066c6c181619420eb1903bb283788ab6 2022-05-28 10:51:53     1
10  165376-daaf42f06da543b0b62f0c547424c16c 2022-05-01 19:35:29     1
11  167740-51de8a3377274eb3b879d2b42c395360 2022-05-03 23:10:49     1
12  168433-2bf4e7ef6524488dacaf543aec538fa0 2022-05-03 19:14:14     1
13  168997-9b0d0578d3ab417bb7f05a63d932b3ba 2022-05-15 14:18:43     1
14  169020-066b2ca5dddf4990ae586160776d201c 2022-05-06 12:33:13     1
15  174825-f28ce021e9764616aae44fee2be41e67 2022-05-09 19:57:07     1
16  175606-b839d7d2f4544c7ab7067d04b71f04c6 2022-05-10 19:20:22     1
17  177783-5997b561540e4e5d9359ca93d2eaccc8 2022-05-28 16:32:22     1
18  179137-259ed1f2eb4b4c449c01b7fdd12fd5cb 2022-05-14 03:59:43     1
19  179922-66c6b01ca8f544448339906a7e4a3b4f 2022-05-19 12:27:08     1
20  184307-ecaa02da64234898bb73c9e4abbbdc4d 2022-05-28 18:29:03     1
21  187088-e5c3ff4ac31147ffbec874f6905bd27f 2022-05-21 07:38:06     1
22  188444-99baf3ac83594017a0498c937e81625c 2022-05-22 20:49:27     1
23  189305-79e3badbaa6a4e78a60cf052b141ca35 2022-05-29 22:34:12     1
24  189511-b8fd69887f0e485b9beeec2d9e7b25f8 2022-05-23 17:12:18     1
25  191715-d4e12f32f7874205a7ac464fe8f3faa2 2022-05-25 17:11:35     1
26  192302-0f322d44a1ee4b86be101116502bded7 2022-05-30 17:20:34     1
27  192869-05e03c3d540d4c09ba6f1671beebe3ca 2022-05-26 19:41:10     1
28  194698-b887bfb814e849b6a9ffd581f53b67bd 2022-05-28 21:17:03     1
29  194944-500feee9b4c64a4f917c646ea1611e7b 2022-05-28 15:57:40     1
30  196143-309cf25af27946e69287a696b3b9ca3c 2022-05-29 15:16:06     1
31  196671-801e38e4671f40b2bda74d58558e9985 2022-05-29 20:26:17     1
32  198817-d7d717201df24a9aa4c4cbc030939f29 2022-05-31 22:34:24     1
33    2818-cd91ac3bd1e54788b67b1cccd82ca111 2022-05-13 21:38:26     1
34   51250-2cdab620325e4ff391708212889a8b93 2022-05-13 22:43:30     1
35   51877-dc98b4f5e51d45cca7300199786a8d60 2022-05-24 17:51:47     1
36    6387-6cfb958e74104b2eb1d82a87e1af9839 2022-05-17 16:35:21     1
37   68805-54c9e6b071154fefad23e5f5895d309e 2022-05-28 17:54:54     1
38   75166-fcd6079d96304b648867fda923b14a66 2022-05-07 18:05:35     1
39   77446-5d2a4109c86940b680ee896179b34d26 2022-05-02 18:41:25     1
40   79039-50e0e18a0b6248789aa2e0cf4362c1eb 2022-05-28 15:14:24     1
41   83147-239591e3f15444e1b3f5de3de159a01d 2022-05-05 04:45:19     1
42   87960-f712c9058efd42ee9a326942accccf0f 2022-05-20 20:36:01     1
43   94473-bce095b666ed4afa9b6f3453f5a69454 2022-05-12 05:02:12     1
44   98786-6d5534cc87ed4215af741dce8e828f8d 2022-05-21 10:35:18     1

In [ ]:
# Question #3:
# Write a solution that will, for each user_id of users with greater than 10 flights, find out the largest window of days between the departure time of a flight and the departure time of the next departing flight taken by the user.

# Expected column names: user_id, biggest_window
# part 1

query = """

SELECT s.user_id, COUNT(s.flight_booked)
FROM sessions s
LEFT JOIN flights f
ON s.trip_id=f.trip_id
WHERE s.flight_booked=True
-- AND s.cancellation=False // maybe ask question - are you looking for non cancelled trips
AND s.trip_id IS NOT NULL
GROUP BY s.user_id
HAVING COUNT(s.flight_booked)>10
ORDER BY user_id

"""

# Load data into a pandas DataFrame
pd.read_sql_query(query, connection)

   user_id  count
0     2801     11
1    26048     11
2    27976     11
3    29241     11
4    49389     11
5    50009     11
6    54318     11
7   144345     11

In [ ]:
# Question #3:
# Write a solution that will, for each user_id of users with greater than 10 flights, find out the largest window of days between the departure time of a flight and the departure time of the next departing flight taken by the user.

# Expected column names: user_id, biggest_window
# part 2

query = """


WITH users_more_than_10_flights AS (
SELECT s.user_id
FROM sessions s
LEFT JOIN flights f
ON s.trip_id=f.trip_id
WHERE s.flight_booked=True
-- AND s.cancellation=False // maybe ask question - are you looking for non cancelled trips
AND s.trip_id IS NOT NULL
GROUP BY s.user_id
HAVING COUNT(s.flight_booked)>10
ORDER BY user_id
),

previous AS (SELECT u.user_id, f.departure_time,
LAG(f.departure_time) OVER(PARTITION BY u.user_id ORDER BY f.departure_time ASC) as prev_depart

FROM users_more_than_10_flights u
JOIN sessions s
ON s.user_id=u.user_id
JOIN flights f
ON f.trip_id=s.trip_id
ORDER BY u.user_id ASC, f.departure_time ASC

),


ranking AS (SELECT user_id, departure_time, prev_depart, (departure_time - prev_depart) as diff,
RANK() OVER(PARTITION BY user_id ORDER BY (departure_time - prev_depart) DESC) AS rank
FROM previous
WHERE (departure_time - prev_depart) IS NOT NULL
)

SELECT user_id,ROUND(EXTRACT(EPOCH FROM diff)/86400) as biggest_window
FROM ranking
WHERE rank=1


"""

# Load data into a pandas DataFrame
pd.read_sql_query(query, connection)

   user_id  biggest_window
0     2801           249.0
1    26048           148.0
2    27976           259.0
3    29241           156.0
4    49389           250.0
5    50009           153.0
6    54318           141.0
7   144345            72.0

In [ ]:
# -- Question #4:
# -- Find the user_id’s of people whose origin airport is Boston (BOS) and whose first and last flight were to the same destination. Only include people who have flown out of Boston at least twice.

# -- Expected column names: user_id

query = """


WITH users_bos AS (SELECT s.user_id, COUNT(s.flight_booked), f.trip_id
FROM sessions s
JOIN flights f
ON s.trip_id=f.trip_id
WHERE s.flight_booked=True AND f.origin_airport='BOS' AND s.cancellation=False
GROUP BY s.user_id, f.trip_id
),

users_with_depart AS (SELECT u.user_id, f.departure_time,f.trip_id
FROM flights f
JOIN users_bos u
ON u.trip_id = f.trip_id
WHERE u.user_id IN (SELECT user_id FROM users_bos)
),

last_flights AS(SELECT ud.user_id, f.trip_id,
MAX(ud.departure_time) OVER(PARTITION BY ud.user_id) as last_date_of_flight,
MIN(ud.departure_time) OVER(PARTITION BY ud.user_id) as first_date_of_flight

FROM users_with_depart ud
JOIN flights f
ON ud.trip_id=f.trip_id
),

overall AS (SELECT last_flights.trip_id as trip_id1, *

FROM last_flights
JOIN flights
ON last_flights.trip_id=flights.trip_id
)

SELECT overall.user_id, COUNT(DISTINCT overall.destination) as count_distinct_dest, COUNT(DISTINCT overall.trip_id1) as count_trips
FROM overall
-- WHERE overall.user_id=1086

GROUP BY overall.user_id
HAVING COUNT(DISTINCT overall.destination)=1 AND COUNT(DISTINCT overall.trip_id1)>=2

"""

# Load data into a pandas DataFrame
pd.read_sql_query(query, connection)

     user_id  count_distinct_dest  count_trips
0       1086                    1            2
1       1600                    1            2
2      38297                    1            2
3      76780                    1            2
4      87762                    1            2
..       ...                  ...          ...
115   939450                    1            2
116   941827                    1            2
117   956021                    1            2
118   971991                    1            2
119   973438                    1            2

[120 rows x 3 columns]

In [ ]:

query = """

WITH user_origin_airport_boston AS (
    SELECT
        s.user_id,
        f.trip_id,
        f.departure_time,
        f.destination_airport,
        SUM(CASE WHEN f.destination != 'BOS' THEN 1 ELSE 0 END) OVER (PARTITION BY s.user_id) AS out_of_boston
    FROM
        sessions s
    JOIN
        flights f ON s.trip_id = f.trip_id
    WHERE
        f.origin_airport = 'BOS'
  and
        s.cancellation=false
        and
        s.flight_booked=True
),
first_last_flights AS (
    SELECT
        user_id,
        MAX(departure_time) AS last_departure_time,
        MIN(departure_time) AS first_departure_time
    FROM
        user_origin_airport_boston
    WHERE
        out_of_boston >= 2
    GROUP BY
        user_id
    HAVING
        COUNT(departure_time) > 1
),

first_last_flight_destinations AS (
    SELECT
        f.user_id,
        ub1.destination_airport AS first_destination,
        ub2.destination_airport AS last_destination
    FROM
        first_last_flights f
     JOIN
        user_origin_airport_boston ub1 ON f.user_id = ub1.user_id AND f.first_departure_time = ub1.departure_time
    JOIN
        user_origin_airport_boston ub2 ON f.user_id = ub2.user_id AND f.last_departure_time = ub2.departure_time
)
--  Select distinct users where the first and last destinations are the same
SELECT DISTINCT
    user_id
FROM
    first_last_flight_destinations
WHERE
    first_destination = last_destination;
;
"""

# Load data into a pandas DataFrame
pd.read_sql_query(query, connection)

     user_id
0       1600
1       9343
2      13617
3      38559
4      48253
..       ...
116   912031
117   916027
118   917880
119   933622
120   971991

[121 rows x 1 columns]